$clr-page-background: hsl(0, 0%, 98%);
$clr-highlight: hsl(236, 33%, 92%);
$clr-text-inactive: hsl(233, 11%, 84%);
$clr-text-muted: hsl(236, 9%, 61%);
$clr-text: hsl(235, 19%, 35%);
$clr-brightblue: hsl(220, 98%, 61%);
$clr-content-background: hsl(0, 0%, 100%);
$clr-shadow: hsl(0, 0%, 90%);
$clr-checkbg: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
$box-shadow: 0 5px 15px 0px $clr-shadow;
$ps: 1rem;
$pm: 2rem;
$pl: 4rem;
$pbtn: .5rem 1rem;
$ms: 1rem;
$mm: 2rem;
$ml: 4rem;
$border-radius: 7px;
$font-xsmall: .75rem;
$font-small: 1rem;
$font-med: 1.33rem;
$font-large: 2em;