$box-shadow: 0 5px 15px 0px var(--clr-shadow);
$ps: 1rem;
$pm: 2rem;
$pl: 4rem;
$pbtn: .5rem 1rem;
$ms: 1rem;
$mm: 2rem;
$ml: 4rem;
$border-radius: 7px;
$font-xsmall: .75rem;
$font-small: 1rem;
$font-med: 1.33rem;
$font-large: 2em;
