@import './variables';
@import "./fontawesome/scss/brands.scss";

$size: 64px;

.content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: $ml;

  & > p {
    font-size: $font-med;
  }
}

.signoutBtn {
  border-radius: $border-radius;
  background: var(--clr-content-background);
  box-shadow: $box-shadow;
  padding: $pbtn;
  margin-left: $ms;

  &:hover {
    background: var(--clr-highlight);
  }
}

.googleBtn {
  border-radius: 50%;
  color: var(--clr-text);
  background: var(--clr-content-background);
  box-shadow: $box-shadow;
  position: relative;
  width: $size;
  height: $size;
  padding: 0;
  @extend .fab;

  &:hover {
    background: var(--clr-highlight);
  }

  &:before,
  &:after {
    position: absolute;
    font-size: $font-med;
    width: 100%;
    height: 100%;
    text-align: center;
  }

  &:before {
    content: fa-content($fa-var-google);
    top: 0;
    left: 0;
    line-height: $size;
  }
}