@import './variables';

* {
  font-family: 'Oxygen', sans-serif;
  transition: all .2s ease;
}

body,
html {
  background: $clr-page-background;
}

button {
  cursor: pointer;
  background: transparent;
  border: none;
}