@import './variables';
@import "./fontawesome/scss/solid.scss";


.todo,
.todo *{
  font-size: $font-med;
}

.todo {
  display: flex;
  max-width: 100%;
  border-bottom: 1px solid var(--clr-highlight);
  padding: $ms;

  &:last-child {
    border: none;
  }
}

.todo *:last-child {
  margin-left: auto;
}

.title {
  margin: 0;
  max-width: 80%;
}

.complete,
.check {
  border-radius: 50%;
  color: var(--clr-content-background);
  position: relative;
  width: var(--icon-size);
  height: var(--icon-size);
  margin-top: auto;
  margin-bottom: auto;
  margin-right: $ms;
  padding: 0;
  @extend .fas;

  &:before {
    content: fa-content($fa-var-check);
    position: absolute;
    font-size: calc(var(--icon-size) * .4);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    line-height: var(--icon-size);
  }
}

.complete {
  background: var(--clr-checkbg);
  border: 1px solid var(--clr-brightblue);
}

.check {
  border: 1px solid var(--clr-highlight);
  &:hover {
    background: var(--clr-checkbg);
    border-color: var(--clr-brightblue);
  }
}

.cross {
  width: var(--icon-size);
  height: var(--icon-size);
  position: relative;
  @extend .fas;

  &:hover {
    &:before {
      color: (--clr-text);
    }
  }

  &:before {
    content: fa-content($fa-var-times);
    width: 100%;
    height: 100%;
    color: (--clr-text-muted);
  }
}